.loader {
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .loader {
      width: 180px;
      height: 180px;
  }
}

@media (min-width: 768px) {
  .loader {
      width: 200px;
      height: 200px;
  }
}

@media (min-width: 1024px) {
  .loader {
      width: 255px;
      height: 255px;
  }
}

.loader::after {
  content: '';
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: 
      linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
      linear-gradient(#DDD 100%, transparent 0),
      linear-gradient(#DDD 100%, transparent 0),
      linear-gradient(#DDD 100%, transparent 0);
  background-repeat: no-repeat;
  background-size: 
      75px 100%,
      100% 40%,
      100% 13%,
      100% 12%;
  background-position: 
      -185px 0, 
      center 0, 
      center 60%, 
      center 75%;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  to {
      background-position: 
          185px 0, 
          center 0, 
          center 60%, 
          center 75%;
  }
}

.loader-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 640px) {
  .loader-main {
      gap: 1.25rem;
  }
}

@media (min-width: 768px) {
  .loader-main {
      gap: 1.5rem;
  }
}